<mat-drawer-container
  autosize
  appDragDrop
  (onFileDropped)="processConfigFile($event)"
>
  <mat-drawer #drawer mode="side" fixedInViewport="false">
    <section>
      <ngx-monaco-editor
        (init)="onEditorInit($event)"
        [options]="editorOptions"
        [ngModel]="swaConfigRules"
        (ngModelChange)="onSwaConfigRulesChanged($event)"
      >
      </ngx-monaco-editor>
    </section>
    <button
      class="toggle-code-editor"
      type="button"
      *ngIf="swaConfigRulesObject"
      mat-button
      (click)="drawer.toggle()"
    >
      Toggle code editor
    </button>
  </mat-drawer>

  <div class="content">
    <section class="upload-indicator" *ngIf="!swaConfigRulesObject">
      <p>
        <mat-icon>cloud_upload</mat-icon>
      </p>
      <p>Drag and drop your staticwebapp.config.json file here</p>
    </section>

    <section class="route-test-container" *ngIf="swaConfigRulesObject">
      <mat-form-field class="route-test-method">
        <mat-label>Method</mat-label>
        <mat-select
          [(ngModel)]="testMethod"
          (selectionChange)="onMethodInputChange($event)"
          aria-label="Test HTTP method"
        >
          <mat-option value="GET">GET</mat-option>
          <mat-option value="HEAD">HEAD</mat-option>
          <mat-option value="POST">POST</mat-option>
          <mat-option value="PUT">PUT</mat-option>
          <mat-option value="DELETE">DELETE</mat-option>
          <mat-option value="CONNECT">CONNECT</mat-option>
          <mat-option value="OPTIONS">OPTIONS</mat-option>
          <mat-option value="TRACE">TRACE</mat-option>
          <mat-option value="PATCH">PATCH</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="route-test-roles">
        <mat-label>Roles</mat-label>
        <mat-chip-list #chipList aria-label="Roles selection">
          <mat-chip
            *ngFor="let role of testRoles"
            [removable]="true"
            [selected]="role === 'anonymous' || role === 'authenticated'"
            [color]="
              role === 'anonymous' || role === 'authenticated'
                ? 'accent'
                : 'primary'
            "
            (removed)="removeRole(role)"
          >
            {{ role }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Add or remove roles to test ACL..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addRole($event)"
          />
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field class="route-test-route">
        <mat-label>Route</mat-label>
        <input
          autocomplete="off"
          placeholder="Type in a route to test your configuration"
          aria-label="Test route"
          matInput
          type="text"
          (input)="onRouteInputChange(testRoute)"
          [(ngModel)]="testRoute"
        />
        <span matPrefix>https://example.com&nbsp;</span>
        <button
          mat-button
          *ngIf="testRoute"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearTestRoute()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </section>

    <main *ngIf="swaConfigRulesObject">
      <section class="routes-inspector">
        <mat-accordion multi>
          <mat-expansion-panel
            *ngIf="swaConfigRulesObject?.routes"
            #expansionPanelRouteRules
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Routes</mat-panel-title>
              <mat-panel-description>
                {{ swaConfigRulesObject?.$$size?.routes }} route rules
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-hint
              >Route rules allow you to define the pattern of URLs that allow
              access to your application to the web. Routes are defined as an
              array of routing rules (<a
                href="https://docs.microsoft.com/azure/static-web-apps/configuration?WT.mc_id=javascript-00000-wachegha#routes"
                >read about routes</a
              >). Routes are secured by adding one or more role names into a
              rule's allowedRoles array, and users are associated to custom
              roles via invitations (<a
                href="https://docs.microsoft.com/azure/static-web-apps/configuration?WT.mc_id=javascript-00000-wachegha#securing-routes-with-roles"
                >read about roles</a
              >).
            </mat-hint>

            <mat-list>
              <mat-list-item
                *ngFor="
                  let route of swaConfigRulesObject?.routes;
                  let last = last
                "
                [ngClass]="{
                  'match-true': route.$$match === true,
                  'match-false': route.$$match === false
                }"
                id="route-rule-{{ route.$$id }}"
              >
                <mat-icon mat-list-icon *ngIf="route.$$match === undefined"
                  >tag</mat-icon
                >
                <mat-icon mat-list-icon *ngIf="route.$$match === true"
                  >check</mat-icon
                >
                <mat-icon mat-list-icon *ngIf="route.$$match === false"
                  >close</mat-icon
                >

                <div mat-line>
                  For route <b>{{ route.route }}</b>
                </div>
                <div mat-line *ngIf="route.statusCode">
                  Responde with status code <b>{{ route.statusCode }}</b>
                </div>
                <div mat-line *ngIf="route.rewrite">
                  Rewrite to <b>{{ route.rewrite }}</b>
                </div>
                <div mat-line *ngIf="route.redirect">
                  Redirect to <b>{{ route.redirect }}</b>
                </div>
                <div mat-line *ngIf="route.headers">
                  Add headers <br />
                  <b *ngFor="let header of route.headers | keyvalue"
                    >&nbsp;&nbsp;{{ header.key }}: {{ header.value }}</b
                  >
                </div>
                <div mat-line *ngIf="route.allowedRoles">
                  Restrict to only <b>{{ route.allowedRoles }}</b>
                </div>
                <div mat-line *ngIf="route.methods">
                  Methods <b>{{ route.methods }}</b>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel
            *ngIf="swaConfigRulesObject?.navigationFallback"
            #expansionPanelNavigationFallback
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Fallback routes</mat-panel-title>
              <mat-panel-description>
                Serve&nbsp;
                {{ swaConfigRulesObject?.navigationFallback?.rewrite }} ({{swaConfigRulesObject?.navigationFallback?.exclude?.length}} exclusion rules)
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-hint
                >Serve
                <b>{{ swaConfigRulesObject?.navigationFallback?.rewrite }}</b>
                for all requests except files that match:</mat-hint
              >
              <mat-list-item
                *ngFor="
                  let rule of swaConfigRulesObject?.navigationFallback
                    ?.$$exclude;
                  let last = last
                "
                [ngClass]="{
                  'match-true': rule.$$match === true,
                  'match-false': rule.$$match === false
                }"
                id="navigation-fallback-rule-{{ rule.$$id }}"
              >
                <mat-icon mat-list-icon *ngIf="rule.$$match === undefined"
                  >tag</mat-icon
                >
                <mat-icon mat-list-icon *ngIf="rule.$$match === true"
                  >check</mat-icon
                >
                <mat-icon mat-list-icon *ngIf="rule.$$match === false"
                  >close</mat-icon
                >
                {{ rule.$$value }}
                <mat-divider *ngIf="!last"></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="swaConfigRulesObject?.globalHeaders">
            <mat-expansion-panel-header>
              <mat-panel-title>Global headers</mat-panel-title>
              <mat-panel-description>
                {{ swaConfigRulesObject?.$$size?.globalHeaders }} HTTP header
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-hint
              >Global headers provide a set of
              <a href="https://developer.mozilla.org/docs/Web/HTTP/Headers"
                >HTTP headers</a
              >
              applied to each response, unless overridden by a
              <a
                href="https://docs.microsoft.com/azure/static-web-apps/configuration?WT.mc_id=javascript-00000-wachegha#route-headers"
                >route header rule</a
              >, otherwise the union of both the headers from the route and the
              global headers is returned.</mat-hint
            >

            <mat-list>
              <mat-list-item
                *ngFor="
                  let header of swaConfigRulesObject?.globalHeaders | keyvalue
                "
              >
                <mat-icon mat-list-icon>tag</mat-icon>
                <div mat-line>
                  <b>{{ header.key }}</b>
                  &nbsp;<span>{{ header.value }}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="swaConfigRulesObject?.responseOverrides">
            <mat-expansion-panel-header>
              <mat-panel-title>Response overrides</mat-panel-title>
              <mat-panel-description>
                {{ swaConfigRulesObject?.$$size?.responseOverrides }} custom responses
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-hint
              >Response overrides provide an opportunity to define a custom
              response when the server would otherwise return an error code (<a
                href="https://docs.microsoft.com/azure/static-web-apps/configuration?WT.mc_id=javascript-00000-wachegha#response-overrides"
                >read docs</a
              >) The following HTTP codes are available to override: 400, 401,
              403 and 404.
            </mat-hint>

            <mat-list>
              <mat-list-item
                *ngFor="
                  let response of swaConfigRulesObject?.responseOverrides
                    | keyvalue
                "
              >
                <mat-icon mat-list-icon>tag</mat-icon>
                <div mat-line>{{ response.key }}</div>
                <div mat-line *ngIf="response.value.statusCode">
                  Response Status Code <b>{{ response.value.statusCode }}</b>
                </div>
                <div mat-line *ngIf="response.value.rewrite">
                  Rewrite to <b>{{ response.value.rewrite }}</b>
                </div>
                <div mat-line *ngIf="response.value.redirect">
                  Redirect to <b>{{ response.value.redirect }}</b>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </section>

      <section class="routes-logs">
        <mat-accordion multi displayMode="flat" hideToggle="true">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Request Headers</mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>http</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              <span><b>{{requestHeaders['Method']}} {{requestHeaders['URL']}}</b></span>
              <br>
              <span *ngFor="let h of requestHeaders | keyvalue"
                ><b>{{ h.key }}:</b> {{ h.value }}</span
              >
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Response Headers</mat-panel-title>
              <mat-panel-description>
                &nbsp;
                <mat-icon>http</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
              <span><b>{{responseHeaders['URL']}} {{responseHeaders['Status Code']}}</b></span>
              <br>
              <span *ngFor="let h of responseHeaders | keyvalue"
                ><b>{{ h.key }}:</b> {{ h.value }}</span
              >
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
    </main>
  </div>
</mat-drawer-container>
